torch>1.10.0
torchvision
transformers
tensorboard
addict
yapf
timm
numpy==1.23
opencv-python
supervision
pycocotools
urllib3==1.25.11 
tqdm
diffusers
huggingface_hub
matplotlib
onnxruntime
Pillow
PyYAML
requests
setuptools
termcolor
nltk
gradio>=3.28.0
airscale
omegaconf
#cpython #windows 
mdtex2html
scipy
easydict
sklearn
soundfile
pyaudio
ffmpeg
tiktoken
#SwissArmyTransformer>=0.3.6
##语音合成 传输OMNIVERSE
edge-tts
whisper
openai
openai-whisper
## 微调VisualGLM
bitsandbytes
#gligen
einops
clip